<div id="hybrid-layout-demo" class="hybrid-template">

  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#/welcome">Main Page</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" id="hybrid-layout-demo-nav-1">

        </ul>
      </div>
    </nav>

    @@include('./index.html')
    @@include('./about.html')
    @@include('./page404.html')

</div><!--/hybrid-layout-demo-->