<div id="hybrid-layout-welcome" class="hybrid-template">

    @@include('./Index.html')

    <ul class="nav nav-pills justify-content-center" id="hybrid-layout-welcome-nav-1">
        <li class="nav-item"><a class="nav-link" href="#/demo/index">Demo</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="#">Документация</a></li>
        <li class="nav-item"><a class="nav-link disabled" href="#">Архитектура</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/artnv/hybrid" target="_blank">GitHub</a></li>
    </ul>
   
</div><!--/hybrid-layout-welcome-->